# Auto detect text files and perform LF normalization
* text=auto
# Firebase x86_64 binaries in LFS
Memory_Game/Assets/Firebase/Plugins/x86_64/*.dll filter=lfs diff=lfs merge=lfs -text
Memory_Game/Assets/Firebase/Plugins/x86_64/*.bundle filter=lfs diff=lfs merge=lfs -text
Memory_Game/Assets/Firebase/Plugins/x86_64/*.a filter=lfs diff=lfs merge=lfs -text
Memory_Game/Assets/Firebase/Plugins/x86_64/*.so filter=lfs diff=lfs merge=lfs -text
